/**
 * Css homepage
 */

.content {
	height: 450px;
	overflow: auto;
}
.question {
	font-size: 1.1em;
}
.answer {
	padding: 5px;
	cursor: pointer;
}
.true-color {
	background-color: #5cb85c;
	color: #fff;
}
.false-color {
	background-color: #d9534f;
	color: #fff;
}
.btn-catalog {
	margin-right: 10px;
	margin-bottom: 10px;
	min-width: 50px;
}

body {
	background: #f7f7f7;
}
.title-page h1 span {
	padding: 0 5px;
}
.t-one {
	color: #3179b9;
}
.t-two {
	font-size: 1.2em;
    color: #e86767;
}
.t-three {
	color: #81c352;
}
.t-four {
	font-size: 1.1em;
    color: #9e4d83;
}
.category {
	margin-top: 4em;
	padding-top: 20px;
	background: #fff;
}
.section-cat .category h4.title {
	position: absolute;
    top: -5px;
    left: 15px;
    -webkit-transform: rotate(-6deg);
    transform: rotate(-6deg);
    color: #007eff;
    z-index: 1;
    font-weight: 700;
}
.category h4.title i {
	color: #e74c3c;
}
.section-cat .category .cloud-img {
	height: 46px;
    position: absolute;
    width: 100%;
    top: -40px;
    background: url(top_cloud.png);
}
.section-cat .category .book {
	position: absolute;
    right: 40px;
    top: -50px;
    width: 60px;
}
.section-cat .category .list-category {
	padding: 30px 0;
}
.category a {
	text-decoration: none;
}
.cat-link {
	padding: 0 20px 40px;
}
.cat-name {
	height: 100px;
	position: relative;
	border-width: 3px;
    border-style: dashed;
    border-radius: 8px;
    top :  0;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}
.cat-name:hover {
	cursor: pointer;
    top: -10px;
    color: #fff  !important;
}
.cat-name h4 {
	line-height: 1.3em;
}
.cat-name h4:before {
	font-family: 'FontAwesome';
	content: "\f07b";
	display: block;
}
.cat-name:hover h4:before {
	font-family: 'FontAwesome';
	content:  "\f07c";
}

li.dropdown-item a {
    padding-top: 10px;
    padding-bottom: 10px;
}
li.dropdown-item a i {
    margin-right: 5px;
}
li.dropdown-item a:hover {
	background: #2980b9;
}
li.open {
	background: #3b5998 !important;
}
li.dropdown ul.dropdown-menu {
    background: #3b5998;
}
.body-category li.dropdown a {
	color: #fff;
}
.body-category li.dropdown ul.dropdown-menu {
    background: #222222;
    
}
/**
 * css quiz list
 */
ul.nav-quiz {
	margin-bottom: 1em;
}
.quiz-item {
	background: #fff;
	padding: 10px 5px;
	margin-top: 20px;
	position: relative;
	-webkit-transition: all .3s linear;
    transition: all .3s linear;
    -webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.41);
	-moz-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.41);
	box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.41);
}
.quiz-item .quiz-title {
	font-size: 1.2em;
	font-weight: 600;
	line-height: 25px;
}
.quiz-item:hover:before {
	
	height: 100%;
}
.quiz-item:before {
	content: "";
    left: 0;
    height: 0;
    top: 0;
    border-left: 3px solid #27ae60;
    position: absolute;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}
.quiz-meta span {
	margin-right: 10px;
	margin-top: 5px;
}
.quiz-description {
	margin-top: 5px;
}

.meta-time {
	margin-top: 5px;
}
.meta-setting {
	margin-top: 5px;
}
.meta-download i {
	color: #5cb85c;
}
/**
 * quiz_view
 */
.section-item {
	font-size: 1.1em;
	border-bottom: 1px solid #e7e7e7;
	padding: 5px;
	color: #428bca;
}
.section-item:before {
	font-family: 'FontAwesome';
	content:  "\f07b";
	margin-right: 5px;
}
.section-item:hover {
	background: #428bca;
	color: #fff;
	cursor: pointer;
}
.section-item:hover:before {
	font-family: 'FontAwesome';
	content:  "\f07c";
}
.section-current {
	background: #428bca;
	color: #fff;
}
.section-current:before {
	font-family: 'FontAwesome';
	content:  "\f07c";
}

.qs-content {
	height: 450px;
	overflow: auto;
}
.question {
	position: relative;
}
.question .qs {
	position: absolute;   
    font-size: 1.2em;
    padding: 0;
}
.question .title-qs {
	font-size: 1.2em;
}
.qs p.answer {
	padding: 5px;
	cursor: pointer;
}
.question .qs .true {
	background: #27ae60;
	color: #fff;
}
.question .qs .false {
	background: #E34A3A;
	color: #fff;
}
.list-qs {
    background: #ffffff;
    text-align: center;
    height: 260px;
    overflow: auto;
   }

.list-qs span {
    width: 40px;
    margin: 5px;
    display: block;
    float: left;
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid #428bca;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.bg-primary {
	color: #fff !important;
	background: #428bca !important;
}
span.sp-true {
	color: #fff;
	background: #27ae60;
}
span.sp-false {
	color: #fff;
	background: #e74c3c;
}
@media (max-width: 767px) {
	.btn-reAnswer {
	display: inline !important;
	}
}
p.question {
	font-size: 1.3em;
}
#section_catalog {
	max-height: 300px;
	overflow: auto;
}
/**
 * Css header
 */
.navbar {
    background: #3b5998;
    color: #fff;
}
.navbar-default .navbar-brand {
    color: #fff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    background: rgba(0, 0, 0, .1);
    color: inherit;
}
li.functions {
    padding: 15px;
    font-size: 15px;
}
li.download a {
	padding: 0;
	color: #fff;
}
li.download button {
	color: #fff;
	background: #3b5998;
}
#timer {
    color: #000;
    text-align: center;
    width: 50px;
}

/**
 * Css nav category
 */
@media (max-width: 768px){
	#page-wrapper {
    padding-top: 100px;
	}
}
@media (min-width: 768px){
	body.body-category {
    margin-top: 50px;
	}
	#wrapper {
	    padding-left: 225px;
	}
	.side-nav {
    position: fixed;
    top: 51px;
    left: 225px;
    width: 225px;
    margin-left: -225px;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    background-color: #222;
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 40px;
	}
	.side-nav>li>a {
	    width: 225px;
	}
	#page-wrapper {
    	padding: 10px;
	}
	.banner-category-1 {
		width: 70%;
	}
}
.top-nav>li {
    display: inline-block;
    float: left;
}
.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #fff;
}
#page-wrapper {
    width: 100%;
}
.body-category {
	background: #eaeaea !important;
}

.nav-tabs {
    border-bottom: 5px solid #428bca;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #fff !important;
    background: #428bca !important;
    border: 1px solid #428bca;
}
.body-category .nav-tabs>li>a {
	background: #fff;
	border-bottom: 1px solid #428bca;
}
.body-category .navbar {
	background-color: #222 !important;
}
/**
 * Css list menu
 */
li.list-menu-item a:before {
	font-family: 'FontAwesome';
	content: "\f07b";
	margin-right: 3px;
}
li.current-cat a {
	color: #fff !important;
	background: #428bca !important;
}
li.current-cat a:before {
	font-family: 'FontAwesome';
	content:  "\f07c";
}
li.current-cat a:after {
	font-family: 'FontAwesome';
	content:  "\f0d9";
	position: absolute;
	right: 0;
	font-size: 1.5em;
	color: #eaeaea;
}
.top-nav>li>a:hover, .top-nav>li>a:focus, .top-nav>.open>a, .top-nav>.open>a:hover, .top-nav>.open>a:focus {
    background-color: #000;
}
.navbar-inverse .navbar-brand {
    color: #fff;
}

/**
 * css nav homepage
 */
.nav-homepage li>a {
	color: #fff !important;
}
.nav-homepage li:hover {
	background: #2980b9;
}

li.nav-search {
	padding: 1em;
}

/**
 * CSS footer
 */
.footer-content {
	color: #f7f7f7;
	background: #3b3b3b;
}
.ft-bottom {
	clear: both;
	margin-top: 1em;
	border-top: 2px solid #0e0c0c;
	padding: 1em;
}

/* css captcha */
.img-captcha #Imageid {
    margin-right: 1em;
}
.input-captcha {
    width: auto;
}
span.icon-avt{
	border-radius: 100%;
	overflow: hidden;
	width: 20px;
	height: 20px;
	margin: 0;
	position: relative;
	top: 5px;
	display: inline-block;
}
.icon-vip {
	margin-top: -10px;
	margin-left: -5px;
}
/* Css loading */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999
}
.background-loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background: #333;
    opacity: 0.5;
}
.loading {
    position: relative;
    top: 30%;
    z-index: 9999;
}

/*Css sidebar*/
body {
	position: relative;
	overflow-x: hidden;
}
body,
html { height: 100%;}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {background-color: transparent;}

/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

#wrapper {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#wrapper.toggled {
	padding-left: 220px;
}
#wrapper.wrapper-quiz {
	padding-left: 0;
}
#sidebar-wrapper {
	z-index: 1000;
	left: 220px;
	width: 0;
	height: 100%;
	margin-left: -220px;
	overflow-y: auto;
	overflow-x: hidden;
	background: #1a1a1a;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
	display: none;
}

#wrapper.toggled #sidebar-wrapper {
	width: 220px;
}

/*#page-content-wrapper {*/
	/*width: 100%;*/
	/*padding-top: 70px;*/
/*}*/

#wrapper.toggled #page-content-wrapper {
	position: absolute;
	margin-right: -220px;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/

.sidebar-nav {
	position: absolute;
	top: 0;
	width: 220px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar-nav li {
	position: relative;
	line-height: 20px;
	display: inline-block;
	width: 100%;
}

.sidebar-nav li:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	height: 100%;
	width: 3px;
	background-color: #1c1c1c;
	-webkit-transition: width .2s ease-in;
	-moz-transition:  width .2s ease-in;
	-ms-transition:  width .2s ease-in;
	transition: width .2s ease-in;

}
.sidebar-nav li:first-child a {
	color: #fff;
	background-color: #1a1a1a;
}

.sidebar-nav li:nth-child(2):before {
	background-color: #ec1b5a;
}
.sidebar-nav li:nth-child(3):before {
	background-color: #79aefe;
}
.sidebar-nav li:nth-child(4):before {
	background-color: #314190;
}
.sidebar-nav li:nth-child(5):before {
	background-color: #279636;
}
.sidebar-nav li:nth-child(6):before {
	background-color: #7d5d81;
}
.sidebar-nav li:nth-child(7):before {
	background-color: #ead24c;
}
.sidebar-nav li:nth-child(8):before {
	background-color: #2d2366;
}
.sidebar-nav li:nth-child(9):before {
	background-color: #35acdf;
}
.sidebar-nav li:nth-child(10):before {
	background-color: #d35400;
}
.sidebar-nav li:nth-child(11):before {
	background-color: #2ecc71;
}
.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
	width: 100%;
	-webkit-transition: width .2s ease-in;
	-moz-transition:  width .2s ease-in;
	-ms-transition:  width .2s ease-in;
	transition: width .2s ease-in;

}

.sidebar-nav li a {
	display: block;
	color: #ddd;
	text-decoration: none;
	padding: 10px 15px 10px 30px;
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
	color: #fff;
	text-decoration: none;
	background-color: transparent;
}

.sidebar-nav > .sidebar-brand {
	height: 65px;
	font-size: 20px;
	line-height: 44px;
}
.sidebar-nav .dropdown-menu {
	position: relative;
	width: 100%;
	padding: 0;
	margin: 0;
	border-radius: 0;
	border: none;
	background-color: #222;
	box-shadow: none;
}

/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.hamburger {
	position: fixed;
	top: 20px;
	z-index: 999;
	display: block;
	width: 32px;
	height: 32px;
	margin-left: 15px;
	background: transparent;
	border: none;
}
.hamburger-toggle {
	left: 220px;
}
.hamburger:hover,
.hamburger:focus,
.hamburger:active {
	outline: none;
}
.hamburger.is-closed:before {
	content: '';
	display: block;
	width: 100px;
	font-size: 14px;
	color: #fff;
	line-height: 32px;
	text-align: center;
	opacity: 0;
	-webkit-transform: translate3d(0,0,0);
	-webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover:before {
	opacity: 1;
	display: block;
	-webkit-transform: translate3d(-100px,0,0);
	-webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
	position: absolute;
	left: 0;
	height: 4px;
	width: 100%;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
	background-color: #1a1a1a;
}
.hamburger.is-closed .hamb-top {
	top: 5px;
	-webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
	top: 50%;
	margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom {
	bottom: 5px;
	-webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
	top: 0;
	-webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-bottom {
	bottom: 0;
	-webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
	background-color: #1a1a1a;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
	top: 50%;
	margin-top: -2px;
}
.hamburger.is-open .hamb-top {
	-webkit-transform: rotate(45deg);
	-webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open .hamb-middle { display: none; }
.hamburger.is-open .hamb-bottom {
	-webkit-transform: rotate(-45deg);
	-webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open:before {
	content: '';
	display: block;
	width: 100px;
	font-size: 14px;
	color: #fff;
	line-height: 32px;
	text-align: center;
	opacity: 0;
	-webkit-transform: translate3d(0,0,0);
	-webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open:hover:before {
	opacity: 1;
	display: block;
	-webkit-transform: translate3d(-100px,0,0);
	-webkit-transition: all .35s ease-in-out;
}

/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

.overlay {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(250,250,250,.8);
	z-index: 1;
}